@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500;600&display=swap');

body {
    background-color: #6a56c7;
    font-family: 'IBM Plex Sans KR', sans-serif;
    padding: 10px;
}

canvas {
    transition: 2s;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

button:active {
    background: #444;
    color: #f9f9f9;
}

div {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.roulette-header img{
    width: 240px;
    height: 100px;
}

.opt {
    display: flex;
}

.roulette-btn {
    margin-top: 0.5rem;
    /*padding: .8rem 1.8rem;*/
}

.roulette-btn img {
    cursor: pointer;
    width: 130px;
    height: 80px;
}

.space-option {
    margin: 5px;
}

.num-option {
    margin: 8px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

.input-list input {
    margin: 5px;
    width: 350px;
}

.game {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#roulette-base::before {
    margin-top: 5px;
    content: "";
    position: absolute;
    width: 10px;
    height: 50px;
    border-radius: 5px;
    background: #000;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

#roulette-base {
    /*margin: 1px;*/
}
